<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-5">
            <div class="mb-3 back justify-content-end w-100 row align-items-center text-primary" routerLink="/admin/login">
            <p class="m-0">رجوع</p>
            <i class="fas fa-angle-right ml-2"></i>
            </div>
        </div>
        <div class="col-12 text-center mt-5 pt-5">
            <img src="../../../../assets/images/blocked.png" width="150px">
            <h3 class="mt-4">عفوا, تم إيقاف حسابك</h3>
        </div>
    </div>
</div>