<div class="col-12 pt-5 pb-5">
    <div class="col-12">
        <div class="mb-3 back justify-content-end w-100 row align-items-center text-primary" routerLink="../../">
          <p class="m-0">رجوع</p>
          <i class="fas fa-angle-right ml-2"></i>
        </div>
    </div>
    
    <div class="add col-8 ml-auto mr-auto mt-5" style="direction: rtl;">
        <div class="row">
            <div class="col-6">
                <p>اسم اللون</p>
                <div class="form-group">
                    <input id="color" type="text" class="form-control" value="{{color.color}}">
                </div>
            </div>
            <div class="col-6">
                <p>قم بتحديد اللون</p>
                <div class="form-group">
                    <input id="code" type="color" class="form-control" value="{{color.code}}">
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <button class="form-group border-0 bg-red form-control" (click)="update()">تعديل اللون الآن</button>
        </div>
    </div>
    
</div>