<app-navbar></app-navbar>

<div class="contact-us pt-5 pb-5 mt-5 mb-5 text-right" style="direction: rtl;">
    <h1 class="text-center mb-5 pb-5">تواصل معنا</h1>
    <div class="container pr-0 pl-0 m-auto bg-white shadow">
        <div class="row">
            <div class="col-10 col-md-6 m-auto text-center">
                <img width="100%" src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/gifs/contact.gif">
            </div>
            <div class="details col-12 col-lg-6 bg-red p-3 align-items-start justify-content-center" style="flex-direction: column;">
                <div class="row align-items-center">
                    <i class="fas fa-clock"></i>
                    <p class="m-0">مواعيد العمل</p>
                </div>
                <span class="">السبت : الخميس - 9 ص : 10 م</span>

                <div class="row align-items-center">
                    <i class="fas fa-phone"></i>
                    <p class="m-0">الخط الساخن</p>
                </div>
                <span class="">16285</span>

                <div class="row align-items-center">
                    <i class="fas fa-mobile-alt"></i>
                    <p class="m-0">موبايل</p>
                </div>
                <span class="">+20246100498</span>

                <div class="row align-items-center">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="m-0">العنوان</p>
                </div>
                <span class="">المنطقة الصناعية الثانية, بلوك 3 22006, قطعة 18, مدينة العبور, القاهرة, مصر</span>

                <div class="row align-items-center">
                    <i class="fas fa-industry"></i>
                    <p class="m-0">فروعنا</p>
                </div>
                <span class="color-blue">مصطفي النحاس, </span>
                <span class="color-blue">الهرم, </span>
                <span class="color-blue">جسر السويس, </span>
                <span class="color-blue">مول دمياط</span>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>