<div class="col-12 pt-5 pb-5">
    <div class="col-12">
        <div class="mb-3 back justify-content-end w-100 row align-items-center text-primary" routerLink="../">
            <p class="m-0">رجوع</p>
            <i class="fas fa-angle-right ml-2"></i>
        </div>
    </div>

    <div class="search col-8 ml-auto mr-auto mt-5" style="direction: rtl;">
        <p>قم بإدخال اسم المنتج أو ال ID الخاص به لرؤية العرض </p>
        <div class="form-group">
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <button class="form-group border-0 bg-red form-control">البحث عن العرض</button>
        </div>
    </div>
</div>