<div class="col-11 m-auto">
    <div class="nav row pt-5 text-right justify-content-center" style="direction: rtl;">
      <div class="col-12 col-lg-4">
        <div class="all" routerLink="all">
          <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/icons/users-show.png" width="50px">
          <h3 class="m-0">All complaints : {{complaints_stats.all_complaints}}</h3>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="all not-revised" routerLink="not-revised">
          <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/icons/complaints.png" width="50px">
        <h3 class="m-0">Not revised : {{complaints_stats.not_revised}}    </h3>
        </div>
      </div>
    
      <div class="col-12 col-lg-4">
        <div class="all delivered" routerLink="replied">
          <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/icons/check.png" width="50px">
        <h3 class="m-0">Replied : {{complaints_stats.replied}}</h3>
        </div>
      </div>
    </div>
    
    <div class="nav mt-4 row justify-content-start text-right" style="direction: rtl;"> 
      <div class="col-12 col-lg-4">
        <div class="all bg-dark" routerLink="closed">
          <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/icons/blocked.png" width="50px">
        <h3 class="m-0">Closed : {{complaints_stats.closed}}</h3>
        </div>
      </div>
      <!--
      <div class="col-12 col-lg-4">
        <div class="all search" routerLink="search">
          <img src="../../../../assets/images/icons/users-search.png" width="50px">
        <h3 class="m-0">البحث عن شكوي</h3>
        </div>
      </div>-->
    </div>

  </div>
  
  
  <router-outlet></router-outlet>