
.bg-black {
    background-color: #292828;
    color: #fff;
}
.bg-black a {
    color: #fff;
}

.bg-red, .bg-red a, .bg-red span {
    background-color:  #ff3838;
    color: #fff;
}
.red {
    color: #ff3838;
}
.orange {
    color: #83e313;
}
.bg-yellow {
    background-color: #ffea00;
}
.bg-gray, .bg-gray a{
    background-color: #e2e2e2;
    color: #2f2f30;
}

.bg-white {
    background-color: white;
    color: #292828;
}
.bg-white a {
    color: #292828;
}
span {
    color: black;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container{
    margin-left: -15px;
    margin-right: -15px;
}


.product {
    border-bottom-right-radius: 10px;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.product img {
    cursor: pointer;
}
.filter {
    border-right: 4px solid #ff3838;
}
.product .discount {
    padding: 5px 14px;
    border-radius: 25px;
    border-right: 3px dolid #ff3838;
    border-bottom-right-radius: 6px;
}
.discount {
    font-size: 12px;
}
.category li {
    cursor: pointer;
    list-style-type: none;
}
.color ul {
    padding: 0;
}
.color li {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -4px #383636;
    list-style-type: none;
    margin: 0 0 6px 6px;
    cursor: pointer;
}
.green {
    background-color: #4caf50;
}
.black {
    background-color: #28292a;
}
.red {
    background-color: #f44336;
}
.blue {
    background-color: #2196f3;
}
.yellow {
    background-color: #ffeb3b;
}
.color-red {
    color: #f44336;
    font-size: 19px;
}

.heading i {
    width: 25px;
    text-align: center;
}

.price input {
    width: 70px;
    margin-left: 5px;
}
.price span {
    font-size: 15px;
    margin-bottom: 3px;
}
.pb-10 {
    padding-bottom: 100px;
}
.fa-shopping-cart, .fa-heart-broken {
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.fa-shopping-cart:hover, .fa-heart-broken:hover {
    color: #f44336;
    transform: translateY(-5px);
}
.fa-heart, .fa-heart-broken {
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.fa-heart:hover, .fa-heart-broken:hover {
    color: #f44336;
    transform: translateY(-5px);
}


i.fa-star {
    font-size: 12px;
}

.pagination a {
    cursor: pointer;
}


.main_image {
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(0.7);
    cursor: pointer;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    padding: 50px 20px;
    border-radius: 10px;
}

.popup button {
    color: #fff;
    margin: 12px auto 0;
    display: block;
    background: #f44336;
    padding: 3px 15px;
}
.popup button:focus {
    outline: 0;
}