.row{
    margin-left: 0;
    margin-right: 0;
}

.container{
    margin-left: -15px;
    margin-right: -15px;
}
.orange {
    color: #83e313;
}
.gray {
    color: #6f6464;;
}
.bg-blue {
    background-color: #303952;
    color: #fff;
}

h5 {
    font-size: 17px;
}
h5, p {
    margin-bottom: 0;
}
li {
    list-style-type: none;
}
.list-group-item ul {
    padding-right: 0;
}

.nav {
    margin-top: 50px;
}
.all, .add, .search {
    background-color: #eee;
    padding: 20px 20px 10px 10px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
.all {
    background-color: #1abc9c;
}
.search {
    background-color: #e74c3c;
}
.add {
    background-color: #34495e;
}
.nav img {
    margin-bottom: 20px;
}

.products-list {
    margin-top: 50px;
}
.products-list li {
    direction: rtl;
}
i.fa-star {
    font-size: 14px;
}
button i.fa-angle-down {
    line-height: 6px;
}
button {
    height: 50px;
}


li {
    font-size: 15px;
}
.heading li {
    font-size: 16px;
}

li.list-group-item:hover {
    background-color: #eee;
}


.main_image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
}