.add p {
    margin-bottom: 8px;
}

.bg-red, .bg-red a {
    background-color:  #ff3838;
    color: #fff;
}

.popup {
    padding: 40px 50px;
    background-color: #fff;
    border: 1px solid #eee;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
}
.big {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.opacity {
    opacity: 0.5;
}
.check {
    display: none;
}
.notificationBtn {
    display: none;
}


.back {
    cursor: pointer;
    font-size: 18px;
}



.main_image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
}



li {
    font-size: 15px;
}
.heading li {
    font-size: 16px;
}

.back {
    cursor: pointer;
    font-size: 18px;
}
li.list-group-item {
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}


.products-list {
    margin-top: 50px;
}
.products-list li {
    direction: rtl;
}
i.fa-star {
    font-size: 14px;
}
li {
    list-style-type: none;
}
.list-group-item ul {
    padding-right: 0;
}