.login {
    direction: rtl;
    text-align: right;
}

.bg-red {
    background-color:  #ff3838;
    color: #fff;
}
.bg-gray{
    background-color: #e2e2e2;
    color: #2f2f30;
}
.small-br {
    border-radius: 50px;
    border-bottom-right-radius: 25px;
}
.bg-black {
    background-color: #292828;
    color: #fff;
}



input {
    display: block;
    padding: 21px 12px;
}
button {
    display: block;
    padding: 12px 12px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    padding: 30px 12px;
    border-radius: 10px;
}

.popup button {
    color: #fff;
    display: block;
    background: #f44336;
    padding: 6px 35px;
    border-radius: 5px;
    margin: 0 auto 6px;
}
.popup button:focus {
    outline: 0;
}