<app-navbar></app-navbar>

<div class="login mt-10 pt-5">
    
    <h3 class="text-center">قم بالدخول لحسابك الآن</h3>
    <div class="row justify-content-center align-items-center mr-auto ml-auto mb-5">
        <div class="col-12 col-md-8 col-lg-4">
                <div class="form-group">
                    <input type="email" id="email" class="form-control bg-gray small-br" placeholder="رقم الموبايل أو البريد الإلكتروني" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control bg-gray small-br" placeholder="الرقم السري">
                </div>
                
                <button (click)="loginUser()" class="btn bg-red w-100 border-0 small-br">الدخول لحسابي</button>

                <a class="d-block mt-2" routerLink="/signup">ليس لديك حساب ؟ إنشاء حساب</a>
        </div>
        <div class="col-12 col-md-8 col-lg-4 d-none d-sm-block">
            <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/gifs/login.gif" width="150%">
        </div>
    </div>
</div>
<div class="popup text-center col-10 col-md-8 col-lg-5 m-auto" style="direction: rtl;" *ngIf="showAlert">
    <p class="alert" style="direction: rtl;">{{alertMsg}}</p>
    <button (click)="changeshowAlert()" class="border-0">حسنا</button>
</div>


<app-footer></app-footer>