<footer class="bg-black p-5">

    <div class="container m-auto">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
          <h5 class="payment-title">طرق الدفع المتاحة</h5>
          <div class="row align-items-center">
              <img src="https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/visa.png" width="50px" class="m-2">
              <img src="https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/mastercard.png" width="30px" class="m-2">
              <img src="https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/paypal.png" width="70px" class="m-2">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-right" style="direction: rtl;">
          <a class="nav-link" routerLink="/home"><i class="fab fa-facebook-square"></i> زيارة صفحتنا علي فيسبوك</a>
          <a class="nav-link" routerLink="/home"><i class="fas fa-phone-square"></i> 162885</a>
          <a class="nav-link" routerLink="/home"><i class="fas fa-envelope"></i> aldoraegypt@yahoo.com</a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-right" style="direction: rtl;">
          <a class="nav-link" routerLink="/home">الرئيسية</a>
          <a class="nav-link" routerLink="/about">إعرف عنا</a>
          <a class="nav-link" routerLink="/contact">تواصل معنا</a>
          <a class="nav-link" routerLink="/about">عملائنا</a>
          <a class="nav-link" routerLink="about">شهاداتنا</a>
          <a class="nav-link" routerLink="/profile/send-suggestions">الشكاوي والمقترحات</a>
          <a class="nav-link" routerLink="/rules">سياسة الاستبدال</a>
        </div>
      </div>
    </div>
  </footer>
  
  <div class="bg-white p-3 m-auto copyrights text-center row justify-content-center align-items-center">
    <div class="policy-rules col-12 col-md-6 d-flex text-left">
      <a class="nav-link" routerLink="/privacy-policy">سياسة الخصوصية</a>
      <a class="nav-link" routerLink="/rules">الشروط والأحكام</a>
    </div>
    <hr>
    <div class="col-12 col-md-6 text-right"> 
      <p class="copy m-0" style="direction: rtl;">جميع الحقوق محفوظة &copy; ALDORA EGYPT</p>
    </div>
  </div>