<div class="col-11 m-auto text-right pt-5 pb-5" style="direction: rtl;">
    <div class="row" style="direction: ltr;">
        <div class="col-12">
            <div class="mb-3 back justify-content-end w-100 row align-items-center text-primary" routerLink="../">
                <p class="m-0">رجوع</p>
                <i class="fas fa-angle-right ml-0"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
    <div class="order border rounded pt-3 pb-3 pr-3 pl-3 mb-3" *ngFor="let order of orders">
        <div class="heading row align-items-center">
            
            <div class="date col-6 row align-items-center">
                <div class="profile-pic ml-3"></div>
                <h5 class="m-0">{{order.user.first_name + " " + order.user.last_name}}</h5>
            </div>
            <div class="date col-6">
                <i class="fas fa-calendar-alt blue ml-1"></i>
                تاريخ إنشاء الطلب :
                <span class="text-muted">{{order.created_at}}</span>
            </div>
        </div>
        <hr>
        <div class="content">
            <ul class="list-group p-0">
                <li class="h5">محتويات الطلب</li>
            </ul>
            <ul class="p-0 row">
                <li class="h6 col-2">ID</li>
                <li class="h6 col-2">الصورة</li>
                <li class="h6 col-2">اسم المنتج</li>
                <li class="h6 col-2">سعر المنتج</li>
                <li class="h6 col-2">الكمية</li>
                <li class="h6 col-2">السعر</li>
            </ul>
            <ul class="p-0 row align-items-center" *ngFor="let product of order.products">
                <li class="h6 col-2">{{product.id}}</li>
                <li class="h6 col-2"><img src="{{product.main_image}}" height="40px"></li>
                <li class="h6 col-2">{{product.name}}</li>
                <li class="h6 col-2">{{product.price}} ج</li>
                <li class="h6 col-2">{{1}}</li>
                <li class="h6 col-2">{{product.price}}</li>
            </ul>
        </div>

        <hr>

        <div class="row mb-2">   
            <div class="date col-6">
                <i class="fas fa-money-bill blue ml-1"></i>
                إجمالي التكلفة
                <span class="text-muted">{{order.price}}</span>
            </div>
            <div class="status col-6 d-flex align-items-center">
                <i class="fas fa-credit-card blue ml-1"></i>
                حالة الدفع :
                <!--<div class="payment-method-bg" style="background-image: url({{order.userpaymentmethod.paymentmethod.icon}});"></div>-->
                <div *ngIf="order.transaction.payment_status==1">تم الدفع</div>
                <div *ngIf="order.transaction.payment_status=='false'">لم يتم الدفع</div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="status col-12">
                <i class="fas fa-clock blue ml-1"></i>
                حالة الطلب :
                <span class="text-muted" *ngIf="order.status==0">لم تتم مراجعته</span>
                <span class="h5 text-success" *ngIf="order.status==1">تم قبول الطلب</span>
                <span class="h5 text-danger" *ngIf="order.status==-1">تم رفض الطلب</span>
                <span class="h5 text-danger" *ngIf="order.status==2">تم توصيل الطلب</span>
            </div>
        </div>

        <div class="row mb-3">   
            <div class="date col-12">
                <i class="fas fa-map-marker-alt blue ml-1"></i>
                العنوان :
                <span class="text-muted">{{order.address.address}}</span>
            </div>
        </div>

        <div class="row" *ngIf="order.status==0">   
            <div class="date">
                <button (click)="update(1, order.id, $event)" class="form-control bg-success text-white">قبول الطلب </button>
            </div>
            <div class="date">
                <button (click)="update(-1, order.id, $event)" class="form-control bg-danger text-white">رفض الطلب </button>
            </div>
        </div>
        <div class="row" *ngIf="order.status==-1">   
            <div class="date">
                <button (click)="update(1, order.id, $event)" class="form-control bg-success text-white">قبول الطلب </button>
            </div>
        </div>
        <div class="row" *ngIf="order.status==1">   
            <div class="date">
                <button (click)="update(2, order.id, $event)" class="form-control bg-primary text-white">تم توصيل الطلب</button>
            </div>
            <div class="date">
                <button (click)="update(-1, order.id, $event)" class="form-control bg-danger text-white">رفض الطلب</button>
            </div>
        </div>
        <div class="row" *ngIf="order.status==2">   
            <div class="date">
                <button (click)="update(1, order.id, $event)" class="form-control bg-dark text-white">لم يتم توصيل الطلب</button>
            </div>
        </div>
        
    </div>



        </div>
    </div>
    
</div>