<app-navbar></app-navbar>
<div class="header bg-red text-right" style="direction: rtl;">
    <div class="container m-auto pt-5 pb-5 mt-5 mb-5">
        <h1>أعرف عن ALDORA</h1>
    </div>
</div>

<div class="sec-header">
    <div class="container m-auto pt-5 pb-5 mt-5 mb-5">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order2">
                <h5>Our product passage</h5>
                <p>Experts In Comfortlogy - Aldora's Proud Passage In Time.
                    Since 1998, Aldora Has Been One Of The Leading Furniture Manufacturing And Exporting Companies In Turkey. We Have Been Continuously Researching And Developing The Quality And Comfort Of Our Products, Working To Surpass Our Customersâ Satisfaction And Improve Their Comfort Experience.
                </p>
            </div>
            <div class="col-12 col-md-6 order1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/gifs/about.gif" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="dates pb-5">
    <div class="container m-auto pt-5 pb-5 mb-5">
        <div class="row align-items-center">
            <div class="col-4 col-md-3 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/date/98.png" width="100%">
            </div>
            <div class="col-8">
                <p>
                    Founded And Established The First Factory In Kayseri, Turkey, On A 42.000 Sqm Closed Area Of 80.000 Sqm. Total Ground.
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-end">
            <div class="col-4 col-md-3 col-lg-1 order2">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/date/03.png" width="100%">
            </div>
            <div class="col-8 order1">
                <p>
                    Founded And Established The First Factory In Kayseri, Turkey, On A 42.000 Sqm Closed Area Of 80.000 Sqm. Total Ground.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4 col-md-3 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/date/05.png" width="100%">
            </div>
            <div class="col-8">
                <p>
                    Founded And Established The First Factory In Kayseri, Turkey, On A 42.000 Sqm Closed Area Of 80.000 Sqm. Total Ground.
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-end">
            <div class="col-4 col-md-3 col-lg-1 order2">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/date/07.png" width="100%">
            </div>
            <div class="col-8 order1">
                <p>
                    Founded And Established The First Factory In Kayseri, Turkey, On A 42.000 Sqm Closed Area Of 80.000 Sqm. Total Ground.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-4 col-md-3 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/date/13.png" width="100%">
            </div>
            <div class="col-8">
                <p>
                    Founded And Established The First Factory In Kayseri, Turkey, On A 42.000 Sqm Closed Area Of 80.000 Sqm. Total Ground.
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-end">
            <div class="col-4 col-md-3 col-lg-1 order2">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/date/14.png" width="100%">
            </div>
            <div class="col-8 order1">
                <p>
                    Founded And Established The First Factory In Kayseri, Turkey, On A 42.000 Sqm Closed Area Of 80.000 Sqm. Total Ground.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="exportation bg-red text-center">
    <div class="container m-auto pt-5 pb-5 mt-5 mb-5">
        <h3>يتم تصدير منتجاتنا إلي</h3>
        <div class="mt-5 row justify-content-center align-items-center text-center">
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/algeria.png" width="100%" class="mb-2">
                <h5>الجزائر</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/bahrain.png" width="100%" class="mb-2">
                <h5>البحرين</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/england.png" width="100%" class="mb-2">
                <h5>إنجلترا</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/france.png" width="100%" class="mb-2">
                <h5>فرنسا</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/jordan.png" width="100%" class="mb-2">
                <h5>الأردن</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/sa.png" width="100%" class="mb-2">
                <h5>السعودية</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/sudan.png" width="100%" class="mb-2">
                <h5>السودان</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/usa.png" width="100%" class="mb-2">
                <h5>أمركيا</h5>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>