<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner text-right" style="direction: rtl;">
        <div class="carousel-item active">
            <img src="https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/bg2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="row align-items-center text-right color-black" style="direction: rtl;">
                    <div class="caption col-12 col-lg-6">
                        <div class="name row align-items-center">
                            <h2 class="mb-0 product-name">كنبة عائلية </h2><h4 class="mb-0 d-block d-sm-none">&nbsp;-&nbsp;2500 ج</h4>
                        </div>
                        <div class="d-none d-sm-block row justify-content-end">
                            <span class="text-white">44 تقييم</span>
                            <div class="rate mr-2">
                                <i class="fas fa-star gray"></i>
                                <i class="fas fa-star orange"></i>
                                <i class="fas fa-star orange"></i>
                                <i class="fas fa-star orange"></i>
                                <i class="fas fa-star orange"></i>
                            </div>
                        </div>
                        <p class="d-none d-sm-block pt-3">هذه الكنبة العائلية الجديدة تتسع لعدد خمسة أفراد ويتوفر منها عدة ألوان مثل الأحمر والأزرق والأصفر وهذا العرض محدود جدا
                            هذه الكنبة العائلية الجديدة تتسع لعدد خمسة أفراد ويتوفر منها عدة ألوان مثل الأحمر والأزرق والأصفر وهذا العرض محدود جدا
                        </p>
                        <h4 class="d-none d-sm-block">2500 ج</h4>
                        <div class="d-none d-sm-block row add pt-3">
                            <button class="bg-red border-0 pt-2 pb-2 pr-3 pl-3">أضف لعربة التسوق</button>
                            <button class="bg-white border-0  pt-2 pb-2 pr-3 pl-3">أضف لقائمة الأمنيات</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="slider-image" style="background-image: url('https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/img4.png');"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/bg2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="row align-items-center text-right color-black" style="direction: rtl;">
                    <div class="caption col-12 col-lg-6">
                        <div class="name row align-items-center">
                            <h2 class="mb-0 product-name">كنبة عائلية </h2> <h4 class="mb-0 d-block d-sm-none">&nbsp;- &nbsp; 2500 ج</h4>
                        </div>
                        <div class="d-none d-sm-block row justify-content-end">
                            <span class="text-white">44 تقييم</span>
                            <div class="rate mr-2">
                                <i class="fas fa-star gray"></i>
                                <i class="fas fa-star orange"></i>
                                <i class="fas fa-star orange"></i>
                                <i class="fas fa-star orange"></i>
                                <i class="fas fa-star orange"></i>
                            </div>
                        </div>
                        <p class="d-none d-sm-block pt-3">هذه الكنبة العائلية الجديدة تتسع لعدد خمسة أفراد ويتوفر منها عدة ألوان مثل الأحمر والأزرق والأصفر وهذا العرض محدود جدا
                            هذه الكنبة العائلية الجديدة تتسع لعدد خمسة أفراد ويتوفر منها عدة ألوان مثل الأحمر والأزرق والأصفر وهذا العرض محدود جدا
                        </p>
                        <h4 class="d-none d-sm-block">2500 ج</h4>
                        <div class="d-none d-sm-block row add pt-3">
                            <button class="bg-red border-0 pt-2 pb-2 pr-3 pl-3">أضف لعربة التسوق</button>
                            <button class="bg-white border-0  pt-2 pb-2 pr-3 pl-3">أضف لقائمة الأمنيات</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="slider-image" style="background-image: url('https://aldora.s3.ap-south-1.amazonaws.com/app+images/assets/images/img4.png');"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="red prev fas fa-location-arrow" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="red next fas fa-location-arrow" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="newest bg-red">
    <div class="container m-auto">
        <h2 class="text-center">أجدد العروض</h2>
        <p class="text-center mb-5">هنا تجدون أجدد العروض بخصوص منتجاتنا</p>
        <div class="row justify-content-center text-right" style="direction: rtl;">
            
            <div class="product pt-4 pb-4 col-12 col-lg-3 border bg-white m-3" *ngFor="let product of products.slice(0,3)">
                <div class="row align-items-center justify-content-between">
                    <div *ngIf="product.price_discount" class="discount bg-yellow d-inline-block text-right"><i class="fas fa-tags ml-2"></i><span>تخفيض {{product.price_discount}}ج</span></div>
                    <div *ngIf="product.percentage_discount" class="discount bg-yellow d-inline-block text-right"><i class="fas fa-tags ml-2"></i><span>تخفيض {{product.percentage_discount}}%</span></div>
                    <div class="rate text-left orange" *ngIf="product.reviews.length">
                        <i class="fas fa-star orange" *ngFor="let star of getAvg(product.reviews)"></i>
                        <i class="fas fa-star gray" *ngFor="let star of returnArray(5- getAvg(product.reviews).length)"></i>
                    </div>
                </div>
                <div class="product-image text-center">
                    <div routerLink="/products/{{product.id}}" class="main_image" style="cursor: pointer;background-image: url({{product.main_image}});"></div>
                </div>
                <div class="details row justify-content-between">
                    <h6>{{product.name}}</h6>
                    <p *ngIf="product.percentage_discount">{{product.price-product.price*product.percentage_discount/100}} ج</p>
                    <p *ngIf="product.price_discount">{{product.price-product.price_discount}} ج</p>
                </div>
                <div class="add text-right">
                    <i class="fas fa-shopping-cart ml-2" (click)="addToCart($event, product.id)"></i>
                    <i class="fas fa-heart" (click)="addToWishList($event, product.id)"></i>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="advantages bg-white">
    <div class="container m-auto">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-12 col-lg-3 mb-3">
                <div class="adv bg-red"> 
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/adv1.png">
                    <h5>توصيل سريع</h5>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
                <div class="adv bg-red"> 
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/adv2.png">
                    <h5>وسائل دفع متعددة</h5>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
                <div class="adv bg-red"> 
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/adv3.png">
                    <h5>جودة عالية</h5>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
                <div class="adv bg-red">       
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/adv4.png">
                    <h5>شات فوري</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="offers pt-5 pb-5 bg-gray">
    <div class="container m-auto">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6" *ngFor="let banner of banners">
                <img src="{{banner.image}}" width="100%">
            </div>
        </div>
    </div>
</div>


<div class="three-d bg-white">
    <div class="container m-auto">
        <h2 class="text-center">تصفح منتجاتنا بشكل ثلاثي الأبعاد</h2>
        <p class="text-center mb-5">يمكنك الضغط علي المنتج ثم تحريكه وتقريبه أو إبعاده لرؤية تفاصيله من جميع الجهات</p>
        <div class="row justify-content-center align-items-center text-center" style="direction: rtl;">
            <div class="col-12 col-lg-4">
                <div class="">
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/couch2.png" height="150px">
                    <h5 class="mt-3">كنب</h5>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="">
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/couch3.png" height="80px">
                    <h5 class="mt-1 pt-5">مراتب</h5>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="">
                    <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/couch4.png" height="100px">
                    <h5 class="mt-3">كراسي</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="exportation bg-red text-center">
    <div class="container m-auto pt-5 pb-5 mt-5 mb-5">
        <h3>يتم تصدير منتجاتنا إلي</h3>
        <div class="mt-5 row justify-content-center align-items-center text-center">
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/algeria.png" width="100%" class="mb-2">
                <h5>الجزائر</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/bahrain.png" width="100%" class="mb-2">
                <h5>البحرين</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/england.png" width="100%" class="mb-2">
                <h5>إنجلترا</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/france.png" width="100%" class="mb-2">
                <h5>فرنسا</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/jordan.png" width="100%" class="mb-2">
                <h5>الأردن</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/sa.png" width="100%" class="mb-2">
                <h5>السعودية</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/sudan.png" width="100%" class="mb-2">
                <h5>السودان</h5>
            </div>
            <div class="country col-3 col-md-2 col-lg-1">
                <img src="https://aldorahouse.s3-eu-west-1.amazonaws.com/assets/images/flags/usa.png" width="100%" class="mb-2">
                <h5>أمريكا</h5>
            </div>
        </div>
    </div>
</div>

<div class="popup text-center col-10 col-md-8 col-lg-5 m-auto" style="direction: rtl;" *ngIf="showWishlistAlert">
    يرجي تسجيل الدخول لحسابك لتتمكن من تخزين منتجاتك المفضلة
    <button (click)="changeshowWishlistAlert()" class="border-0">حسنا</button>
</div>

<app-footer></app-footer>